// filtering-topic
.filtering-topic {
  .container {
    background-color:#fff;
  }

  .topic-location {
    display:none;
  }

  .topic,
  .subtopic {
    display:flex;
    align-items: center;
    dt {
      position:relative;
      width:152px;
      padding-right:23px;
      color:#333;
      font-weight:500;
      text-align:right;
      &:after {
        content:'';
        display:block;
        position:absolute;
        top:50%;
        right:0;
        width:2px;
        height:32px;
        background-color:$color-grey;
        transform: translateY(-50%);
      }
    }
    dd {
      flex:1;
      padding-left:16px;
      ul {
        display:flex;
        flex-wrap: wrap;
        width:100%;
        padding:10px 30px 0 30px;
        li {
          width:12.5%;
          padding:6px 0;
          color:#0a0a0a;
          font-size:rem(14);
          a,
          .checkbox-1 {
            display:inline-block;
            padding:0 0 8px 0;
            color:#0a0a0a;
          }
        }
      }
    }
  }
  .topic {
    dt {
      font-size:rem(24);
      span {
        display:block;
        color:#999;
        font-size:rem(12);
        font-weight:300;
      }
    }
    dd {
      ul {
        li {
          a {
            &.active {
              color:$color-point-1;
              background:url("../images/ico_arrow01.svg") no-repeat center 94%;
            }
            &.selected {
              color:$color-point-1;
            }
            @include mediaQuery($deviceLarge){
              &:hover {
                color:$color-point-1;
              }
            }
          }
        }
      }
    }
  }
  .subtopic {
    display:none;
    dt {
      font-size:rem(20);
    }
    dd {
      ul {
        border-top:2px solid $color-grey;
        li {
          width:14.2%;
        }
      }
    }
    &.show {
      display:flex;
    }
  }
  .toggle-box {
    > a {
      display:block;
      height:12px;
      background-color:#dee1e6;
      cursor: url('../images/ico_arrow_up01.svg'), auto;
      &:hover {
        background-color:#BC9FF8;
      }
    }
  }

  .m-btn-box-1 {
    display:none;
  }

  // close
  &.close {
    .topic,
    .subtopic {
      display:none;
    }
    .toggle-box {
      > a {
        cursor: url('../images/ico_arrow_down01.svg'), auto;
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    position:relative;
    min-height:40px;
    .topic-location {
      display:block;
      position:absolute;
      top:0;
      left:0;
      right:0;
      background-color:#fff;
      > a {
        display:flex;
        align-items: center;
        height:40px;
        padding:0 0 0 24px;
        strong {
          padding-right:10px;
          color:#333;
          font-size:rem(14);
          background:url("../images/ico_arrow02.svg") no-repeat right center;
        }
        div {
          flex:1;
          padding:0 0 0 20px;
          overflow-y:hidden;
          overflow-x:auto;
          ul {
            display:flex;
            height:40px;
            li {
              margin-left:15px;
              color:$color-point-1;
              font-size:rem(14);
              line-height:40px;
            }
          }
        }
      }

      &.selected {
        > a {
          strong {
            color:$color-point-1;
            background-image:url("../images/ico_arrow03.svg");
          }
        }
      }
    }
    .topic,
    .subtopic {
      display:block;
      dt {
        display:flex;
        align-items: center;
        width:100%;
        height:32px;
        padding:0 0 0 24px;
        font-size:rem(18);
        font-weight:400;
        background-color:$color-grey;
        text-align:left;
        &:after {
          display:none;
        }
      }
      dd {
        padding:0 24px;
        ul {
          display:flex;
          flex-wrap: wrap;
          width:100%;
          padding:10px 10px 0 0;
          li {
            width:33.333%;
            font-size:rem(12);
            a,
            .checkbox-1 {
              display:inline-block;
              padding:0 0 8px 0;
              color:#0a0a0a;
            }
          }
        }
      }
    }
    .topic {
      display:none;
      dt {
        span {
          margin-left:4px;
          font-size:rem(10);
        }
      }
      dd {
        ul {
          li {
            a {
              &:hover,
              &.active {
                color:$color-point-1;
                background:url("../images/ico_arrow01.svg") no-repeat center bottom;
              }
            }
          }
        }
      }
    }
    .subtopic {
      display:none;
      dd {
        ul {
          border-top:none;
          li {
            width:auto;
            margin-right:15px;
          }
        }
      }
      &.show {
        display:block;
      }
    }
    .toggle-box {
      display:none;
    }
  
    // active
    &.active {
      .topic {
        display:block;
      }
      .m-btn-box-1 {
        display:flex;
      }
    }
  }
}

// search-box
.search-box {
  position:relative;
  input {
    width:100%;
    height:40px;
    padding:0 30px 0 24px;
    color:#333;
    font-size:rem(12);
    font-weight:400;
    border:1px solid $color-grey;
    border-radius: 20px;
    outline: none;
    transition:all .2s ease-in-out;
    appearance: none;
  }
  > a {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    path {
      fill:$color-grey;
      transition:all .2s ease-in-out;
    }
  }

  input:focus {
    border-color:#f6a8a8;
  }
  input:focus ~ a {
    path {
      fill: #f6a8a8;
    }
    &:hover {
      path {
        fill:$color-point-2;
      } 
    }
  }

  ::placeholder {
    color:#999;
    font-weight:300;
  }

  
  // mobile
  @include mediaQuery($deviceSmall){
    margin:8px 40px;
  }

}

// filter-box
.filter-box {
  position:relative;
  margin-top:20px;
  .title {
    height:40px;
    color:#0a0a0a;
    font-size:rem(24);
  }
  > a {
    display:block;
    position:absolute;
    top:4px;
    right:0;
    width:72px;
    height:24px;
    padding-top:4px;
    color:#fff;
    font-size:rem(13);
    line-height:1.2;
    background-color:$color-point-2;
    border-radius: 4px;
    text-align:center;
  }
  .filter-box-inner {
    padding:15px 12px 30px 12px;
    background-color:#fff;
    border-radius: 4px;
    > dl {
      margin-top:20px;
      &:first-child {
        margin-top:0;
      }
      dt {
        position:relative;
        display:flex;
        align-items: center;
        strong {
          width:40px;
          height:26px;
          color:#0a0a0a;
          font-size:rem(16);
          font-weight:500;
        }
        .selected {
          flex:1;
          display:flex;
          align-items: center;
          height:26px;
          color:#999;
          font-size:rem(12);
          border-bottom:1px solid $color-grey;
          > p {
            height:20px;
            padding:0 4px;
          }
        }
        .arrow {
          position:absolute;
          top:8px;
          right:0;
          img {
            transform:rotate(180deg);
            transition:all .2s ease-in-out;
          }
        }
      }
      dd {
        height:auto;
        overflow: hidden;
        transition:all .2s ease-in-out;
        ul {
          display:flex;
          flex-wrap:wrap;
          margin-left:-1%;
          padding:6px 0 0 0;
          li {
            width:32.3333%;
            margin:4px 0 0 1%;
            a {
              display:block;
              height:32px;
              border:2px solid $color-grey;
              border-radius: 4px;
              text-align:center;
              span {
                position:relative;
                display:inline-block;
                height:28px;
                line-height:26px;
                color:#0a0a0a;
                font-size:rem(13);
              }
              &.active {
                span {
                  color:$color-point-2;
                  &:after {
                    content:'';
                    display:block;
                    position:absolute;
                    bottom:0;
                    left:50%;
                    width:16px;
                    height:2px;
                    background-color:$color-point-2;
                    transform: translateX(-50%);
                  }
                }
              }
            }
          }
        }
      }
      
      &.closed {
        dt {
          .arrow {
            img {
              transform:rotate(0);
            }
          }
        }
        dd {
          height:0;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    margin-top:0;
    .title,
    > a {
      display:none;
    }
    .filter-box-inner {
      display:none;
      position:fixed;
      top:16px;
      left:16px;
      right:16px;
      bottom:16px;
      padding:15px 40px 60px 40px;
      overflow-x:hidden;
      overflow-y:auto;
      z-index: 11;
      > dl {
        dt {
          .selected {
            font-size:rem(11);
          }
          .arrow {
            display:none;
          }
        }
      }
      .m-btn-box-1 {
        position:fixed;
        bottom:16px;
        left:16px;
        right:16px;
      }

      &.active {
        display:block;
      }
    }
  }

}

// category-sorting
.category-sorting {
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:40px;
  border-bottom:2px solid $color-grey;
  .btn-filter {
    display:none;
  }
  .sel-sorting {
    display:none;
  }
  .sorting {
    display:flex;
    justify-content: flex-end;
    padding:0 55px 0 0;
    li {
      padding:0 8px;
      a {
        display:block;
        height:40px;
        line-height:40px;
        color:#777;
        font-size:rem(14);
        border-bottom:2px solid transparent;
        &.active {
          color:#0a0a0a;
          border-color:$color-point-2;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    position: static;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:40px;
    padding:0 20px;
    border-bottom:none;
    background-color:#fff;
    .btn-filter {
      display:block;
      color:#333;
      font-size:rem(14);
      img {
        margin-top:-2px;
      }
    }
    .sel-sorting {
      display:block;
      select {
        min-width:74px;
        height:22px;
        padding-left:10px;
        color:#333;
        font-size:rem(14);
        background:url("../images/ico_arrow_down03.svg") no-repeat 90% center;
        border:none;
        appearance:none;
      }
    }
    .sorting {
      display:none;
    }
  }
}

// detail-box
.detail-box {
  max-width:1072px;
  margin:0 auto;
  padding:30px 0 0 0;
  .breadcrumb-box {
    margin-top:16px;
    padding:10px 0 10px 0;
    background-color:#fff;
    border-radius: 4px;
    > p {
      margin:4px 0;
    }
  }
  .breadcrumb {
    padding:0 0 0 16px;
    span,
    strong {
      display:inline-block;
      padding:0 8px 0 18px;
      font-size:rem(14);
      background:url("../images/ico_arrow04.svg") no-repeat 0 center;
    }
    span {
      color:#b3c0c8;
      &:first-child {
        padding-left:0;
        background:none;
      }
    }
    strong {
      color:#333;
    }
  }

  // detail-head
  .detail-head {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:8px;

    .detail-con-box {
      width:640px;
    }

    // detail-con
    .detail-con {
      padding:16px 16px 0 16px;
      background-color:#fff;
      border-bottom-right-radius: 30px;
      .thumb {
        img {
          width:608px;
          height:342px;
          object-fit: cover;
        }
      }
      .grey-box {
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color:#f4f4f4;
        .date-refer {
          flex:1;
          display:flex;
          justify-content: space-between;
          align-items: center;
          height:40px;
          padding:0 0 0 16px;
          color:#777;
          font-size:rem(12);
          .date {
            display:flex;
            align-items: center;
            p {
              display:flex;
              align-items: center;
              margin-right:16px;
              svg {
                margin-right:4px;
              }
            }
          }
          .refer {
            display: flex;
            align-items: center;
            .link {
              height:18px;
              margin-right:16px;
              padding-right:26px;
              color:#000;
              font-size:rem(14);
              background:url("../images/ico_window01.svg") no-repeat 99% center;
              opacity: 0.6;
            }
          }
          // pc
          @include mediaQuery($deviceLarge){
            &:hover {
              .refer {
                .link {
                  opacity: 1;
                }
              }
            }
          }
        }
        .siren {
          position: relative;
          width:40px;
          height: 40px;
          background-color:#fff;
          &:after {
            content:'';
            display:block;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:url("../images/ico_siren.svg") no-repeat center center;
            opacity: 0.6;
          }

          // pc
          @include mediaQuery($deviceLarge){
            &:hover:after {
              opacity: 1;
            }
          }
        }
      }

      .text-info {
        padding:10px 0 10px 0;
        .title {
          padding:0 25px 0 0;
          color:#0a0a0a;
          font-size:rem(18);
          font-weight:700;
          letter-spacing: -0.9px;
        }
        .info {
          display:flex;
          justify-content: space-between;
          align-items: center;
          margin-top:8px;
          .user {
            display:flex;
            align-items: center;
            color:#777;
            font-size:rem(16);
            img {
              width:40px;
              height:40px;
              margin-right:8px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          .btn {
            a {
              display:block;
              width:64px;
              height:40px;
              line-height:38px;
              color:#fff;
              font-size:rem(14);
              background-color:#cc0000;
              text-align:center;
            }
          }
        }
        .text {
          padding:5px 0 0 0;
          p {
            color:#333;
            font-size:rem(14);
            line-height:1.43;
          }
          &.txt-youtube {
            position:relative;
            padding:12px 0 28px 48px;
            p {
              height:40px;
              overflow: hidden;
              &.active {
                height:auto;
              }
            }
            .btn-text {
              position: absolute;
              bottom:0;
              left:48px;
              color:#b0b0b0;
              font-size:rem(14);
            }
          }
        }
      }
    }

    // detail-user
    .detail-user {
      width:416px;
      .user-follow {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:16px 0 0 0;
        .user {
          display:flex;
          align-items: center;
          color:#333;
          font-size:rem(18);
          img {
            width:32px;
            height:32px;
            margin-right:7px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .btn {
          a {
            display:block;
            height:32px;
            line-height:30px;
            padding:0 16px 0 16px;
            color:#333;
            font-size:rem(14);
            border:1px solid #333;
            background-color:#fff;
            border-radius: 16px;
            img {
              margin:-2px 4px 0 0;
              vertical-align: middle;
            }
            &.active {
              color:$color-point-1;
              border-color:$color-point-1;
            }
          }
        }
      }
      .recommend-share {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-top:16px;
        a {
          display:flex;
          justify-content: center;
          align-items: center;
          width:49%;
          height:40px;
          background-color:#fff;
          border-radius: 4px;
          span {
            margin-left:8px;
            color:#333;
            font-size:rem(12);
          }
          &.active {
            path {
              fill: $color-point-2;
            }
          }
        }
        .share {
          position:relative;
          display:flex;
          justify-content: space-between;
          align-items: center;
          width:100%;
          height:40px;
          margin-top:4px;
          padding:0 16px;
          background-color:#fff;
          border-radius: 4px;
          .tit {
            color:#333;
            font-size:rem(16);
            font-weight:500;
          }
          .sns {
            display:flex;
            li {
              margin-left:16px;
            }
          }
          #hideCopy {
            position: absolute;
            left: -9999999px;
          }
          .clipboard-toast {
            position:absolute;
            top:44px;
            right:0;
            height:0;
            line-height:38px;
            padding:0 16px 0 16px;
            color:#fff;
            font-size:rem(14);
            background-color:#333;
            opacity: 0;
            transition:opacity .2s ease-out;
            &.active {
              height:40px;
              opacity: 1;
            }
          }
        }
      }
      .lesson-go {
        display:flex;
        align-items: center;
        height:40px;
        margin-top:4px;
        background-color:#fff;
        border-radius: 4px;
        a {
          display:block;
          width:100%;
          text-align: center;
          span {
            padding-left:26px;
            color:#333;
            font-size:rem(12);
            line-height:18px;
            background:url("../images/ico_menu02.svg") no-repeat 0 center;
          }
        }
      }

      .lesson-list-box {
        background-color:#3d3d3d;
        border-radius: 4px;
        overflow: hidden;
        dt {
          height:40px;
          line-height:38px;
          padding:0 0 0 16px;
          color:#fff;
          font-size:rem(16);
          font-weight:500;
          background-color:#333;
        }
        dd {
          height:372px;
          padding:8px 0 8px 0;
          overflow-x:hidden;
          overflow-y:auto;
          li {
            margin:8px 0;
            a {
              display:block;
              padding:2px 10px 2px 16px;
              color:#dadada;
              font-size:rem(14);
              line-height:1.2;
              &.active {
                color:$color-point-2;
              }
            }
          }
        }
      }
    }

    // keyword-box
    .keyword-box {
      margin-top:16px;
      border-radius: 4px;
      overflow: hidden;
      dt {
        display:flex;
        align-items: center;
        height:40px;
        padding:0 0 0 16px;
        color:#333;
        font-size:rem(16);
        font-weight:500;
        background-color:#fff;
      }
      dd {
        margin-top:1px;
        background-color:#fff;
        ul {
          display:flex;
          flex-wrap:wrap;
          padding:8px 0 16px 0;
          li {
            margin:8px 0 0 8px;
            a {
              display:block;
              height:32px;
              line-height:30px;
              padding:0 16px;
              color:$color-point-1;
              font-size:rem(12);
              border:1px solid $color-point-1;
              border-radius: 4px;
            }
          }
        }
      }
    }
    
  }

  // detail-with
  .detail-with {
    position:relative;
    padding:30px 0 0 0;
    .howto,
    .lesson {
      position: relative;
      padding:0 0 40px 0;
      .slick-slide {
        outline: none;
      }
      .arrow-box {
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        display: flex;
        justify-content: space-between;
        .slick-arrow {
          width:49.9%;
          height:32px;
          border:none;
          background-color:#fff;
          background-repeat: no-repeat;
          background-position: center center;
          background-size:12px 24px;
          border:1px solid transparent;
          border-radius: 4px;
          outline: none;
          cursor: pointer;
          @include fontNone;
          transition:border-color .2s ease-in-out;
          &.slick-prev {
            background-image:url("../images/ico_arrow_left01.svg");
          }
          &.slick-next {
            background-image:url("../images/ico_arrow_right01.svg");
          }
          // pc
          @include mediaQuery($deviceLarge){
            &:hover {
              border-color:$color-point-1;
              &.slick-prev {
                background-image:url("../images/ico_arrow_left02.svg");
              }
              &.slick-next {
                background-image:url("../images/ico_arrow_right02.svg");
              }
            }
          }
        }
      }
    }
    .lesson {
      padding-bottom:61px;
      &.visible-hide {
        margin-top:-413px;
        visibility: hidden;
      }
    }
  }

  // detail-library
  .detail-library {
    position:relative;
    margin-top:65px;

    .btn-more {
      position: absolute;
      top:15px;
      right:0;
      color:#333;
      font-size:rem(14);
      font-weight:500;
      line-height:1.2;
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    padding:10px 0 0 0;

    // detail-head
    .detail-head {
      display:block;
      margin-top:8px;

      .detail-con-box {
        width:100%;
        > .keyword-box {
          margin-left:16px;
          margin-right:16px;
        }
      }

      // detail-con
      .detail-con {
        padding:0;
        border-bottom-right-radius: 0;
        .thumb {
          padding:4px 4px 0 4px;
          img {
            width:100%;
            height:198px;
          }
        }
        .grey-box {
          .date-refer {
            padding:0 0 0 8px;
          }
        }

        .text-info {
          padding:5px 8px 15px 8px;
          .title {
            padding:0;
          }
          .text {
            &.txt-youtube {
              padding:5px 0 28px 0;
              .btn-text {
                left:0;
              }
            }
          }
        }
      }

      // detail-user
      .detail-user {
        width:100%;
        padding:0 16px 0 16px;

        .lesson-list-box {
          margin:8px -16px 0;
          dl {
            dd {
              height:auto;
              max-height:372px;
            }
          }
        }
      }
      
    }

    // detail-with
    .detail-with {
      .with-list-box {
        padding:0 16px;
      }
      .lesson {
        padding-bottom:40px;
      }
    }

    // detail-library
    .detail-library {
      margin-top:30px;
      text-align: center;
      .btn-more {
        position: static;
        display:inline-block;
        margin-top:10px;
      }
      ul {
        text-align:left;
      }
    }
  }

}

// detail-library-info
.detail-library-info {
  position:relative;
  min-height:168px;
  margin:8px 0 30px 0;
  padding:12px 248px 10px 24px;
  background-color:#fff;
  border:1px solid transparent;
  border-radius: 8px;
  transition:all .2s ease-in-out;
  .text-box {
    .tit {
      padding:8px 0 0 0;
      color:#0a0a0a;
      font-size:rem(18);
      font-weight:500;
    }
    .txt {
      margin-top:24px;
      color:#333;
      font-size:rem(12);
      line-height: 1.5;
    }
  }
  .refer {
    position:absolute;
    top:8px;
    right:24px;
    img {
      width:224px;
      height:126px;
      object-fit: cover;
    }
    > p {
      height:27px;
      display: block;
      padding-left: 12px;
      border:1px solid $color-grey;
      border-radius: 0 0 8px 8px;
      a {
        color: #b3c0c8;
        font-size: rem(14);
        line-height: 1.6;
      }
    }
  }

  // pc
  @include mediaQuery($deviceLarge){
    &:hover {
      border-color:#333;
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    margin:8px 16px 20px 16px;
    padding:9px 8px 5px 8px;
    .text-box {
      .tit {
        min-height:80px;
        padding:0 116px 0 0;
      }
      .txt {
        margin-top:8px;
        line-height: 1.2;
      }
    }
    .refer {
      top:8px;
      right:8px;
      img {
        width:112px;
        height:63px;
      }
      > p {
        height:20px;
        padding-left: 8px;
        @include fontNone;
        a {
          font-size: rem(10);
          line-height:1.5;
        }
      }
    }
  }
}

// sorting-inner
.sorting-inner {
  .sel-sorting {
    display:none;
  }
  .sorting {
    display:flex;
    justify-content: flex-end;
    padding:0 55px 0 0;
    li {
      padding:0 8px;
      a {
        display:block;
        height:40px;
        line-height:40px;
        color:#777;
        font-size:rem(14);
        border-bottom:2px solid transparent;
        &.active {
          color:#0a0a0a;
          border-color:$color-point-2;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .sel-sorting {
      display:block;
      select {
        min-width:74px;
        height:32px;
        padding-left:10px;
        color:#333;
        font-size:rem(14);
        background:#fff url("../images/ico_arrow_down03.svg") no-repeat 90% center;
        border:none;
        appearance:none;
      }
    }
    .sorting {
      display:none;
    }
  }
}


// user-info-top
.user-info-top {
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width:1136px;
  margin:0 auto;
  padding:32px 16px;
  background-color:#fff;
  .user-info {
    position: relative;
    padding:10px 0 0 96px;
    .photo {
      position: absolute;
      top:0;
      left:0;
      img {
        width:80px;
        height:80px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .name {
      color:#333;
      font-size:rem(24);
      font-weight:700;
      line-height:1.1;
    }
    .follow {
      margin-top:8px;
      a {
        color:#777;
        font-size:rem(14);
        line-height:1.2;
        & + a {
          position: relative;
          margin-left:12px;
          padding-left:16px;
          &:after {
            content:'';
            display:block;
            position:absolute;
            top:50%;
            left:0;
            width:1px;
            height:10px;
            background-color:#777;
            transform: translateY(-50%);
          }
        }
      }
    }
    .btn {
      margin-top:18px;
      a {
        display: inline-block;
        height: 32px;
        line-height: 30px;
        padding: 0 16px 0 16px;
        color: #333;
        font-size: 0.875rem;
        border: 1px solid #333;
        background-color: #fff;
        border-radius: 16px;
        img {
          margin:-2px 4px 0 0;
          vertical-align: middle;
        }

        &.active {
          color:$color-point-1;
          border-color:$color-point-1;
        }
      }
    }
  }

  .user-coment {
    width:420px;
    > p {
      padding:15px 0;
      color:#707070;
      font-size:rem(14);
      font-weight:300;
      line-height:1.4;
      border-top:1px solid #b3c0c8;
      border-bottom:1px solid #b3c0c8;
      text-align:center;
    }
  }
  .user-sns {
    @include fontNone;
    a {
      margin-left:8px;
      &:first-child {
        margin-left:0;
      }
      img {
        width:32px;
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    flex-wrap:wrap;
    padding:16px 48px;
    .user-info {
      width:100%;
      padding:10px 0 0 96px;
      .photo {
        position: absolute;
        top:0;
        left:0;
        img {
          width:80px;
          height:80px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .name {
        color:#333;
        font-size:rem(24);
        font-weight:700;
        line-height:1.1;
      }
    }

    .user-coment {
      display: none;
    }
    .user-sns {
      width:100%;
      margin-top:16px;
      text-align: center;
    }
  }
}

// user-tab-box
.user-tab-box {
  max-width:1136px;
  margin:0 auto;
  padding:0 0 0 288px;
  background-color:#333;
  > ul {
    display:flex;
    padding-top:1px;
    li {
      padding:0 16px;
      &:first-child {
        padding-left:0;
      }
      a {
        display:block;
        height:31px;
        line-height:30px;
        padding:0 16px;
        color:#fff;
        font-size:rem(16);
        &.active {
          color:$color-point-1;
          background-color:#f4f4f4;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    position:relative;
    padding:0 0 0 0;
    > a {
      display:block;
      height: 32px;
      line-height:30px;
      padding:0 0 0 48px;
      color:#fff;
      font-size:rem(16);
      span {
        position: absolute;
        top:15px;
        right:48px;
        svg {
          vertical-align: top;
        }
      }
    }
    > ul {
      position:absolute;
      top:32px;
      left:0;
      right:0;
      display:none;
      flex-flow: column;
      padding-top:0;
      border:1px solid $color-point-1;
      background-color:#fff;
      z-index: 2;
      li {
        padding:0;
        a {
          height:32px;
          padding:0 0 0 47px;
          color:#505050;
          &.active {
            color:#505050;
            background-color:#ebeef3;
          }
        }
      }
    }

    // active
    &.active {
      > ul {
        display: flex;
      }
    }
  }
}

// top-cate-page
.top-cate-page {
  position:relative;
  .top-caterogy {
    position:absolute;
    top:10px;
    left:16px;
    ul {
      display: flex;
      li {
        margin-left:32px;
        &:first-child {
          margin-left:0;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .top-caterogy {
      position: static;
      padding:16px 0 0 24px;
      ul {
        li {
          margin-left:14px;
          &:first-child {
            margin-left:0;
          }
        }
      }
    }
  }
}

.library-edit-box {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  margin:-5px 0 8px 0;
  padding:0 64px 0 0;
  > a {
    display:none;
    height:32px;
    line-height:26px;
    margin-left:8px;
    padding:0 18px;
    color:#333;
    font-size:rem(14);
    border:2px solid #333;
    border-radius: 16px;
  }
  .btn-list-modify {
    display:inline-block;
    height:36px;
    line-height:34px;
    margin-left:16px;
    padding:0 10px;
    border-width:1px;
    background-color:#fff;
    border-radius: 4px;
  }
  .check-all {
    width:32px;
    line-height:30px;
    margin-left:0;
    padding:0;
    text-align:center;
    svg {
      width:16px;
      path {
        fill:#333;
      }
    }
    &.checked {
      border-color:$color-point-2;
      svg {
        path {
          fill:$color-point-2;
        }
      }
    }
  }

  &.active {
    > a {
      display:inline-block;
    }
    .btn-list-modify {
      color:$color-point-1;
      border-color: $color-point-1;
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    margin:8px 0 8px 0;
    padding:0 16px 0 0;
    > a {
      margin-left:4px;
    }
    .btn-list-modify {
      margin-left:8px;
    }
  }
  
}