// header
#header {
  .container {
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:64px;
  }
  h1 {    
    .cls-1 {
      fill:#e49884
    }
    .cls-2 {
      font-size:34px;
      font-family:Comfortaa-Regular,Comfortaa
    }
  }
  .top-search {
    position:absolute;
    top:12px;
    left:50%;
    width:368px;
    height:40px;
    margin-left:-184px;
    input {
      width:100%;
      height:40px;
      padding:0 60px 0 24px;
      color:#333;
      font-size:rem(14);
      border:2px solid $color-grey;
      background-color:#fff;
      border-radius:24px;
      outline: none;
      appearance:none;
      transition:all .2s ease-in-out;
    }
    .btn-del {
      display:none;
      justify-content: center;
      align-items: center;
      position:absolute;
      top:4px;
      right:38px;
      width:32px;
      height:32px;
      outline: none;
      transition:all .2s ease-in-out;
      &.ing {
        display:flex;
      }
    }
    .btn-search {
      display:flex;
      justify-content: center;
      align-items: center;
      position:absolute;
      top:4px;
      right:4px;
      width:32px;
      height:32px;
      background-color:$color-grey;
      border-radius:50%;
      outline: none;
      transition:all .2s ease-in-out;
      fill:#fff;
    }
    input:focus {
      border-color:#bc9ff8;
    }
    input:focus ~ .btn-search {
      background-color:#bc9ff8;
    }
  }
  .m-menu {
    display:none;
  }
  .top-utill {
    display:flex;
    align-items:center;
    .login {
      padding-right:30px;
      color:#0a0a0a;
      font-size:rem(16);
    }
    .alrim {
      position:relative;
      display:block;
      width:32px;
      height:32px;
      padding:9px 0 0 0;
      background-color:$color-grey;
      border-radius:50%;
      text-align:center;
      &:after {
        content:'';
        display:none;
        position:absolute;
        top:-1px;
        right:-1px;
        width:10px;
        height:10px;
        border:1px solid #fff;
        background-color:#9560d9;
        border-radius:50%;
      }
      &.active {
        &:after {
          display:block;
        }
      }
    }
    .mypage {
      position:relative;
      margin-left:24px;
      img {
        width:32px;
        height:32px;
        border-radius:50%;
      }
      .user-layer {        
        display:none;
        position:absolute;
        top:48px;
        left:-45px;
        width:120px;
        border:1px solid $color-point-1;
        background-color:#fff;
        border-radius: 3px;
        a {
          display:block;
          height:36px;
          line-height:34px;
          color:#505050;
          font-size:rem(14);
          text-align:center;
          &:hover {
            background-color:$color-grey;
          }
        }
      }
      &.active {
        .user-layer {
          display: block;
        }
      }
    }
    .write {
      position:relative;
      width:112px;
      height:40px;
      line-height:38px;
      margin-left:32px;
      padding-left:20px;
      color:#fff;
      font-size:rem(14);
      background-color:#7a40f2;
      border-radius:20px;
      text-align:center;
      img {
        vertical-align:middle;
      }
      &:before {
        content:'';
        display:block;
        position:absolute;
        top:19px;
        left:18px;
        width:16px;
        height:2px;
        background-color:#fff;        
      }
      &:after {
        content:'';
        display:block;
        position:absolute;
        top:12px;
        left:25px;
        width:2px;
        height:16px;
        background-color:#fff;        
      }
    }
  }

  .header-title-box {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    .header-title {
      padding-right:0;
    }
  }

  .header-title {
    padding-right:100px;
    font-size:rem(32);
    font-weight:500;
    letter-spacing: -1.6px;
  }

  .header-title-2 {
    font-size:rem(18);
    font-weight:500;
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .container {
      justify-content: center;
      height:56px;
    }
    .top-search {
      top:8px;
      right:12px;
      left:auto;
      width:36px;
      margin-left:0;
      overflow: hidden;
      transition:all .2s ease-in-out;
      input {
        display:none;
      }
      .btn-search {
        fill:$color-grey;
        background-color:#fff;
      }
      input:focus {
        border-color:#bc9ff8;
      }
      input:focus ~ .btn-search {
        background-color:#bc9ff8;
      }
      
      // active
      &.active {
        width:80%;
        input {
          display:block;
        }
      }

    }
    .m-menu {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      display:flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width:56px;
      @include fontNone;
      > span {
        position:relative;
        display:block;
        width:18px;
        height:2px;
        background-color:#b0b0b0;
        &:before,
        &:after {
          content:'';
          position:absolute;
          left:0;
          display:block;
          width:18px;
          height:2px;
          background-color:#b0b0b0;
        }
        &:before {
          top:-6px;
        }
        &:after {
          top:6px;
        }
      }
    }
    .top-utill {
      display:none;
    }

    .header-title-box {
      display:none;
    }
  }

}

// mobileMenu
#mobileMenu {
  display:none;
  
  // mobile
  @include mediaQuery($deviceSmall){
    position:fixed;
    top:0;
    left:-90%;
    bottom:0;
    display:block;
    width:90%;
    background-color:#fff;
    z-index: 10;
    transition:all .2s ease-in-out;
    .menu-box {
      padding:60px 0 0 0;
      text-align:center;
      .thumb {
        img {
          width:80px;
          height:80px;
          border-radius: 50%;
        }
      }
      .name {
        margin-top:16px;
        color:#333;
        font-size:rem(24);
        font-weight: 700;
      }
      .list {
        margin-top:16px;
        border-top:8px solid $color-point-2;
        li {
          border-bottom:1px solid #f4f4f4;
          a {
            display:block;
            height:40px;
            line-height:40px;
            color:#505050;
            font-size:rem(16);
            font-weight:500;
          }
        }
      }

      .banner {

      }
      .banner-text {
        margin-top:15px;
        color:#333;
        font-size:rem(18);
        font-weight: 500;
      }
      .link {
        padding:40px 16px 0;
        li {
          margin-top:16px;
        }
      }
    }
    .close {
      position:absolute;
      top:16px;
      right:16px;
    }

    // active
    &.active {
      left:0;
    }
  }
}

// gnb
#gnb {
  .container {
    background-color:#fff;
  }
  ul {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid $color-grey;
    li {
      padding:0 20px;
      a {
        position:relative;
        display:block;
        height:48px;
        line-height:46px;
        padding:0 6px;
        color:$color-text;
        font-size:rem(16);
        font-weight:500;
        transition:all .2s ease-in-out;
        &:after {
          content:'';
          display:block;
          position:absolute;
          bottom:0;
          left:50%;
          width:0;
          height:1px;
          background-color:$color-point-1;
          opacity: 0;
          transition:all .2s ease-in-out;
        }        
        &.active {
          color:$color-point-1;
          &:after {
            left:0;
            width:100%;
            opacity: 1;
          }
        }
        @include mediaQuery($deviceLarge){
          &:hover {
            color:$color-point-1;
            &:after {
              left:0;
              width:100%;
              opacity: 1;
            } 
          }
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    ul {
      li {
        padding:0 10px;
        a {
          padding:0 5px;
        }
      }
    }
  }
}