// CSS Grid layout
body {

  background-color:#f4f4f4;

  &.over-hidden {
    overflow: hidden;
  }
}

// wrap
#wrap {

}

.dim {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.8);
  z-index: 10;
}

// container
.container {
  max-width:1136px;
  margin:0 auto;
}

// contents
#contents {
  padding:0 0 50px 0;

  // mobile
  @include mediaQuery($deviceSmall){
    padding:0 0 30px 0;
  }
}

// contents-box
.contents-box {
  display:flex;
  justify-content: space-between;
  max-width:1136px;
  margin:35px auto 0;
  .contents-search-box {
    width:272px;
    &.type-1 {
      padding-top:40px;
      @include mediaQuery($deviceSmall){
        padding-top:0;
      }
    }
  }
  .contents-inner {
    flex:1;
    position:relative;
    margin-left:16px;
  }

  &.title-add {
    flex-wrap:wrap;
    .contents-title {
      display:flex;
      justify-content: center;
      width:100%;
      padding:0 0 30px 180px;
      text-align:center;
      .title-info {
        .title {
          color:#333;
          font-size:rem(24);
          font-weight:700;
          line-height:1.17;
        }
        .info {
          padding:5px 0 0 0;
          @include fontNone;
          span {
            color:#777;
            font-size:rem(12);
            line-height:1.3;
            & + span {
              position:relative;
              margin-left:16px;
              padding-left:16px;
              &:before {
                content:'';
                display:block;
                position:absolute;
                top:50%;
                left:0;
                width:1px;
                height:8px;
                background-color:#777;
                transform: translateY(-50%);
              }
            }
          }
        }
      }

      .ico-box {
        display:flex;
        min-width:192px;
        padding:0 0 0 8px;
        .ico {
          display:inline-block;
          height:32px;
          margin-left:16px;
          vertical-align: middle;
          > a {
            display:block;
            &.btn-sns {
              width:32px;
              height:32px;
              line-height:30px;
              border:2px solid #333;
              border-radius: 50%;
              text-align:center;
            }
          }
          &.sns {
            position:relative;
            .sns-box {
              position:absolute;
              top:0;
              left:48px;
              display: none;
              flex-wrap:wrap;
              justify-content: space-between;
              width:72px;
              a {
                margin-bottom:8px;
              }
            }
            &.active {
              > a {
                border-color:$color-point-2;
                path {
                  fill:$color-point-2;
                }
              }
              .sns-box {
                display:flex;
              }
            }
          }
        }
      }
    }
  }

  &.contents-only {
    display:block;
  }

  // mobile
  @include mediaQuery($deviceSmall){
    display:block;
    margin-top:0;
    .contents-search-box {
      width:100%;
    }
    .contents-inner {
      margin:0;
    }

    &.title-add {
      .contents-title {
        display:block;
        padding:8px 0 8px 0;
  
        .ico-box {
          display:flex;
          justify-content: center;
          min-width:0;
          padding:14px 0 0 0;
          .ico {
            display:inline-block;
            height:32px;
            margin-left:16px;
            vertical-align: middle;
            > a {
              display:inline-block;
              &.btn-sns {
                width:32px;
                height:32px;
                line-height:30px;
                border:2px solid #333;
                border-radius: 50%;
                text-align:center;
              }
            }
            &.sns {
              position:relative;
              .sns-box {
                position:static;
                width:auto;
                margin-left:8px;
                vertical-align: top;
                a {
                  margin:0 0 0 4px;
                }
              }
              &.active {
                > a {
                  border-color:$color-point-2;
                  path {
                    fill:$color-point-2;
                  }
                }
                .sns-box {
                  display:inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}