// top-pagenation
.top-pagenation {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  height:40px;
  margin-top:20px;
  padding:0 15px 0 0;
  color:#777;
  font-size:rem(12);
  .control {
    display:flex;
    justify-content: center;
    align-items: center;
    width:88px;
    height:32px;
    margin:0 8px;
    background-color:$color-grey;
    border-radius: 3px;
    > a {
      display:flex;
      justify-content: center;
      align-items: center;
      width:24px;
      height:26px;
      border-radius: 2px;
      background-color:#fff;
    }
    input {
      width:30px;
      height:32px;
      padding:0;
      color:#333;
      font-size:rem(12);
      border:none;
      background-color:transparent;
      text-align:center;
      outline: none;
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    display:none;
  }
}

// paging
.paging {
  .container {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:30px;
    a {
      display:flex;
      justify-content: center;
      align-items: center;
      height:48px;
      margin-left:1px;
      color:#0a0a0a;
    }
    > a {
      &.prev,
      &.next {
        width:128px;
        background-color:#fff;
        span {
          margin:0 7px;
          font-size:rem(14);
        }
        img {
          margin-top:2px;
        }
      }
      &.first,
      &.end {
        width:60px;
        background-color:#dee1e6;
        span {
          display:none;
        }
      }
      &.first {
        border-radius:4px 0 0 4px;
      }
      &.end {
        border-radius:0 4px 4px 0;
      }
    }
    > p {
      display:flex;
      justify-content: center;
      align-items: center;
      a {
        width:48px;
        font-size:rem(16);
        background-color:#fff;
        &.active {
          color:#fff;
          background-color:$color-point-1;
        }
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .container {
      position:relative;
      margin:30px 28px 0;
      padding:0 0 44px 0;
      a {
        display:flex;
        justify-content: center;
        align-items: center;
        height:40px;
        margin-left:1px;
        color:#0a0a0a;
      }
      > a {
        &.prev,
        &.next {
          flex:1;
          width:auto;
          background-color:#dee1e6;
          span {
            display:none;
          }
        }
        &.prev {
          border-radius:4px 0 0 4px;
          margin-left:0;
        }
        &.next {
          border-radius:0 4px 4px 0;
        }
        &.first,
        &.end {
          position:absolute;
          bottom:0;
          width:49.5%;
          margin-left:0;
          background-color:#fff;
          border-radius:0;
          span {
            display:block;
            margin:-2px 7px 0;
            font-size:rem(14);
          }
        }
        &.first {
          left:0;
        }
        &.end {
          right:0;
        }
      }
      > p {
        a {
          width:40px;
          &:nth-child(5) ~ a {
            display:none;
          }
        }
      }
    }
  }
}