.sign {
  min-height:100vh;
  background-color:#fff;
  #header {
    border-bottom:2px solid $color-grey;
  }

  #signWrap {
    
    padding-top:100px;

    .sign-box {
      max-width:320px;
      margin:0 auto;
    }

    .sns-box {
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-top:40px;
      img {
        width:40px;
      }
      a + a {
        margin-left:12px;
      }
      .google {
        display:flex;
        align-items: center;
        height:48px;
        padding:0 16px 0 8px;
        color:#333;
        font-size:rem(18);
        background-color:#f4f4f4;
        border-radius: 28px;
        img {
          width:32px;
          margin-right:16px;
        }
      }
    }
    .text-or {
      position:relative;
      margin:30px 0;
      color:#333;
      font-size:rem(14);
      text-align:center;
      &:before,
      &:after {
        content:'';
        display:block;
        position:absolute;
        top:50%;
        width:120px;
        height:2px;
        margin-top:-1px;
        background-color:#f4f4f4;
      }
      &:before {
        left:0;
      }
      &:after {
        right:0;
      }
    }

    .sign-input {
      position:relative;
      margin-top:5px;
      padding:0 0 16px 0;
      label {
        color:#333;
        font-size:rem(16);
        font-weight:500;
      }
      input {
        width:100%;
        height:40px;
        line-height:38px;
        margin-top:8px;
        padding:0 16px 0 16px;
        font-size:rem(16);
        border:none;
        background-color:#f4f4f4;
        outline: none;
      }
      .error-msg {
        position:absolute;
        bottom:0;
        left:0;
        color:$color-point-2;
        font-size:rem(10);
        line-height:1.5;
      }
    }

  }

  .sign-title {
    text-align:center;
    h3 {
      display:inline-block;
      padding:0 2px 5px 2px;
      color:#333;
      font-size:rem(36);
      font-weight:500;
      line-height:1.2;
      border-bottom:2px solid $color-point-2;
    }
  }

  .sign-text-1 {
    margin:15px 0 40px;
    color:#333;
    font-size:rem(18);
    line-height:1.28;
    text-align:center;
    strong {
      color:$color-point-2;
    }
  }
  .sign-text-2 {
    margin:50px 0 0 0;
    color:#000;
    font-size:rem(24);
    line-height:1.2;
    text-align:center;
    strong {
      color:$color-point-1;
    }
  }
  .sign-text-3 {
    margin:15px 0 70px 0;
    color:#505050;
    font-size:rem(16);
    line-height:1.5;
    text-align:center;
  }


  .coment-1 {
    margin-top:5px;
    color:#505050;
    font-size:rem(14);
    text-align:center;
    a {
      color:$color-point-1;
    }
  }
  .coment-2 {
    margin-top:8px;
    color:#505050;
    font-size:rem(16);
    text-align:center;
    strong {
      color:$color-point-2;
    }
    br {
      display:none;
    }
  }

  .coment-3 {
    margin-top:8px;
    color:#333;
    font-size:rem(14);
    text-align:center;
    > span {
      display:inline-block;
      width:20px;
      height:20px;
      line-height:16px;
      margin:-3px 2px 0 0;
      color:$color-point-1;
      font-size:rem(14);
      font-weight:700;
      border:2px solid $color-point-1;
      border-radius: 50%;
      text-align:center;
      vertical-align: middle;
    }
    > a {
      margin-left:10px;
      color:$color-point-1;
      font-weight:500;
      text-decoration: underline;
    }
  }

  .sign-form-box-1 {
    max-width:640px;
    margin:0 auto;
    padding-bottom:30px;
    border-bottom:16px solid $color-point-2;
    text-align:center;
    h1 {
      svg {
        width:305px;
        height:auto;
      }
      .cls-1 {
        fill:#e49884
      }
      .cls-2 {
        font-size:34px;
        font-family:Comfortaa-Regular,Comfortaa;
      }
    }
    .text-1 {
      margin-top:15px;
      padding:30px 0 26px 0;
      color:#fff;
      font-size:rem(32);
      font-weight:500;
      line-height:1.2;
      background-color:#333;
    }
    .text-2 {
      max-width:300px;
      margin:64px auto 35px;
      padding:20px 0 20px 0;
      color:#333;
      font-size:rem(18);
      line-height:1.3;
      border-top:1px solid #c0c0c0;
      border-bottom:1px solid #c0c0c0;
      .txt-1 {
        font-weight:700;
      }
      .txt-2 {
        margin-top:10px;
        strong {
          color:$color-point-2;
          font-weight:700;
        }
      }
    }
    .text-3 {
      margin-top:35px;
      color:#333;
      font-size:rem(14);
    }
  }

  .sign-info-box-1 {
    padding:0 0 30px 0;
    text-align:center;
    .text-email {
      margin-bottom:10px;
      line-height:1.2;
      span {
        display: block;
        color:$color-point-1;
        font-size:rem(12);
      }
      strong {
        display: block;
        margin-top:3px;
        color:#333;
        font-size:rem(18);
      }
    }
    .text-1 {
      color:#777;
      font-size:rem(12);
      line-height:1.5;
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){

    #signWrap {
      
      padding-top:25px;

      .sns-box {
        margin-top:25px;
      }
      .text-or {
        margin:20px 0;
      }

      .sign-title {
        h3 {
          font-size:rem(24);
        }
      }
    
      .sign-text-1 {
        margin:10px 60px 20px;
        font-size:rem(14);
        line-height:1.43;
      }

      .sign-text-2 {
        margin:30px 0 0 0;
        font-size:rem(18);
        strong {
          font-size:rem(24);
        }
      }
      .sign-text-3 {
        margin:20px 0 70px 0;
        font-size:rem(14);
      }

      .coment-2 {
        margin-top:5px;
        font-size:rem(14);
        br {
          display:block;
        }
      }

    }
  }

}

