// title box
.title-box-1 {
  
}

// title
.title-type-1 {
  margin-bottom:8px;
  color:#1f1d1b;
  font-size:rem(13);
  font-weight:700;
  line-height:1.2;
}

// text
.text-type-1 {
  color:#a5a5a5;
  font-size:rem(11);
  font-weight:500;
  line-height:1.5;
  strong {
    color:#ff6600;
  }
  .txt-1 {
    color:#000;
  }
}