// title box
.title-box-1 {
  position:relative;
  .sorting-inner {
    position:absolute;
    bottom:0;
    right:0;
  }

  // mobile
  @include mediaQuery($deviceSmall){
    .sorting-inner {
      position: static;
      padding:10px 10px 0 0;
      text-align:right;
    }
  }
}

// title
.title-type-1 {
  margin-bottom:15px;
  color:#333;
  font-size:rem(36);
  font-weight:500;
  line-height:1.2;
  &.center {
    text-align:center;
  }
  &.line {
    border-bottom:2px solid $color-grey;
    span {
      display:inline-block;
      margin-bottom:-2px;
      padding-bottom:5px;
      border-bottom:2px solid $color-point-2;
    }
  }
  &.mb00 {
    margin-bottom:0;
  }

  // mobile
  @include mediaQuery($deviceSmall){
    &.m-type-1 {
      font-size:rem(24);
    }
    &.m-center {
      text-align:center;
    }
  }
}

.title-type-2 {
  border-bottom:2px solid #ebeef3;
  @include fontNone;
  > span {
    position:relative;
    display:inline-block;
    margin-bottom:-2px;
    padding-bottom:5px;
    color:#333;
    font-size:rem(36);
    font-weight:500;
    line-height:1.2;
    border-bottom:2px solid $color-point-2;
  }

  // mobile
  @include mediaQuery($deviceSmall){
    padding:10px 0 0 24px;
    > span {
      padding-bottom:3px;
      font-size:rem(24);
    }
  }
}

// text
.text-type-1 {
  color:#a5a5a5;
  font-size:rem(11);
  font-weight:500;
  line-height:1.5;
  strong {
    color:#ff6600;
  }
  .txt-1 {
    color:#000;
  }
}